<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MYSQLite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>785B5DCD1DEFB754008EBB63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>785B5DE61DEFB755008EBB63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>785B5DF11DEFB755008EBB63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
